@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  a, button {
    cursor: pointer;
  }

  html {
    @apply bg-gray-200;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

  body {
    padding-inline: 1.6rem;
    -web-font-smoothing: antialiased;
  }

  body, input, textarea, button {
    font-weight: 400;
    font-size: 1.6rem;
  }
}
